<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <hi>Gestor de clientes</hi>
     </div>
     <div class="row">
        <button on-click="obtenerclientes" class="btn btn-success" type="button">Cargar Datos</button>
        <button on-click="insertarClientes" class="btn btn-warning" type="button">Inserta cliente</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
     class GestorClientes extends Polymer.Element {
       static get is() { return 'gestor-clientes'; }
       static get properties() {
         return {
           clientes:{
             type: Array,
             notify: true
           }
        };
      }

       obtenerclientes(){
         var request = new XMLHttpRequest();
         request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false)
         request.setRequestHeader("Accept","application/json");
         request.send();

         this.clientes = JSON.parse(request.responseText).value;

         console.table(this.clientes);
       }
       insertarClientes(){
         var request = new XMLHttpRequest();
         request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false)
         request.setRequestHeader("Accept","application/json");
         request.setRequestHeader("content-type","application/json");
         var nuevocliente ={"CustomerID":"12345","ContactName":"Karla","CompanyName":"BBVA"};
         var body = JSON.stringify(nuevocliente);
         request.send(body);
         this.respuesta = request.responseText;
         console.log(this.respuesta)
       }
     }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
