<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <<img src="https://www.flaticon.com/free-icon/solar_1697491" class="img-fluid pull-xs-left" alt="...">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success" type="button">Cargar Datos</button>
        <input type="text"  placeholder="[[prop2]]" value="{{prop1::input}}">
        <input type="text" value="{{prop1::input}}">

      </div>
      <div class="row">
        <table class="table table-striped col-lg-2 col-xs-2">
          <thead>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
          </thead>
          <thead>
            <tr>
              <td>[[prop2]]</td>
              <td>Pedro</td>
              <td>Lopez</td>
            </tr>
            <tr>
              <td>[[prop2]]</td>
              <td>Pedro</td>
              <td>Lopez</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Pedro</td>
              <td>Lopez</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
     class MiVisor extends Polymer.Element {
       static get is() { return 'mivisor'; }
       static get properties() {
         return {
           prop1: {
             type: String,
             //value: 'Arturo'
           },
           prop2:{
             type: Number,
             value:244
           },
           prop3:{
             type:String,
             value: 'Indique un usuario'
           }
         };
       }
       incrementar(){
         this.prop2 = this.prop2 + 1;
         console.log("prop2: " + this.prop2);
         console.log("prop1: " + this.prop2);
       }
     }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
